out_/
out/
ames_bare_soil/out/
/ames_bare_soil/out_uploaded_from_linux
ames_bare_soil/~$AMEI_fallow_Ames_2024-05-16.xlsx
maricopa_wheat_face/~$MARICOPA Wheat FACE data_2024-10-25 (ICASA data format v4.1)(PM6)(BAK1)(no soil temp).xlsx
